.date-picker-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  font-family: "Poppins", sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.react-datepicker__header {
  background-color: #319795;
  color: #ffffff;
}

.react-datepicker__day--selected {
  background-color: #319795;
  color: #ffffff;
}

.react-datepicker__day--today {
  font-weight: bold;
}

.react-datepicker__navigation {
  top: 10px;
}

.react-datepicker__navigation-icon {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
}

.react-datepicker__navigation--previous .react-datepicker__navigation-icon {
  transform: rotate(135deg);
}

.react-datepicker__navigation--next .react-datepicker__navigation-icon {
  transform: rotate(-45deg);
}
