
.navbar {
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
}

/* Style for the navigation links */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0;
  padding: 0;
}

.navbar a {
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  transition: background-color 0.3s;
  font-size: 26px;
}

/* Style for the links on hover */
.navbar a:hover {
  color: black;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    height: auto;
  }
  .navbar a {
    padding: 15px;
    width: 100%;
  }
}
